<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, optio.
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite-one.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
        neque deleniti sunt soluta voluptatum laudantium distinctio veniam.
        Reiciendis, necessitatibus nulla.
      </p>

      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__img" src="./images/easy.webp" alt="" />
  </article>

  <article class="grid grid--1x2 feature">
    <img class="feature__img" src="./images/fast.webp" alt="" />
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite-one.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Symple Fast Websites</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
        neque deleniti sunt soluta voluptatum laudantium distinctio veniam.
        Reiciendis, necessitatibus nulla.
      </p>

      <a href="#" class="link-arrow">Learn More</a>
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite-one.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Word Press Made Easy</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem
        neque deleniti sunt soluta voluptatum laudantium distinctio veniam.
        Reiciendis, necessitatibus nulla.
      </p>

      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature__img" src="./images/wordpress.webp" alt="" />
  </article>
</section>
