<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite-one.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__tittle">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil excepturi
      doloremque minus commodi neque laboriosam, sapiente itaque facilis ducimus
      quod. Minima modi voluptatum facilis, amet temporibus veniam laudantium
      consequatur ipsum.
    </p>
  </div>
</div>
