<section class="block block--dark block--skewed-right block--showcase">
  <header class="block__header">
    <h2 class="block__heading">User Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block--showcase__img" src="./images/ipad.webp" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite-one.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__tittle">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
              excepturi doloremque minus commodi neque laboriosam, sapiente
              itaque facilis ducimus quod. Minima modi voluptatum facilis, amet
              temporibus veniam laudantium consequatur ipsum.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite-one.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__tittle">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
              excepturi doloremque minus commodi neque laboriosam, sapiente
              itaque facilis ducimus quod. Minima modi voluptatum facilis, amet
              temporibus veniam laudantium consequatur ipsum.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite-one.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__tittle">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
              excepturi doloremque minus commodi neque laboriosam, sapiente
              itaque facilis ducimus quod. Minima modi voluptatum facilis, amet
              temporibus veniam laudantium consequatur ipsum.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
